
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Bebas+Neue&family=Josefin+Sans:wght@200;300;400;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=BIZ+UDPMincho:wght@400;700&family=Bebas+Neue&family=Josefin+Sans:wght@200;300;400;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=BIZ+UDPMincho:wght@400;700&family=Bebas+Neue&family=Josefin+Sans:wght@200;300;400;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');

html, body {
	font-family:"BIZ UDGothic", "BIZ UDゴシック",sans-serif;
	font-size: 62.5%;
	webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  body {
	color: #333333;
  }
  a {
	color: #333333;
  }
  p {
	text-align: justify;
  }
  .pc {
	display: block !important;
  }
  .sp {
	display: none !important;
  }
  .center {
	  text-align: center;
  }

  /*　コンテンツ表示　*/

	.view{
		opacity : 0;
		transform : translate(0, 70px);
		transition : all .5s;
	}
	.view.scrollin{
		opacity : 1;
		transform : translate(0, 0);
	}
  
  @media (max-width: 1000px) {
	  .pc {
		display: none !important;
	  }
	  .sp {
		display: block !important;
	  }
  }


/*==================================================================================
　header
==================================================================================*/

.header {
	width: 100%;
	display: block;
	height: auto;
	position: fixed;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid #707070;
	background-color: #fff;
	.header-logo-area {
		display: flex;
		align-items: center;
		padding-left: 5vw;
		.header-logo {
			width: 343px;
			a {
				display: inline-block;
				img {
					width: 100%;
				}
			}
			&:hover {
				opacity: .6;
			}
		}
		.header-logo-funeral {
			width: 280px;
			margin-left: 30px;
			a {
				display: inline-block;
				img {
					width: 100%;
				}
			}
			&:hover {
				opacity: .6;
			}
		}
		.tel-box {
			text-align: right;
			margin-left: auto;
			margin-right: 30px;
			.tel-box-text1 {
				font-size: 1.2rem;
				margin-bottom: 2px;
				text-align: right;
			}
			.tel-box-link {
				font-size: 4.2rem;
				font-weight: bold;
				margin-bottom: 6px;
				position: relative;
				display: flex;
				align-items: center;
				&::before {
					content: "";
					background-image: url(../img/common/header-tel.png);
					background-size: cover;
					width: 43px;
					height: 25px;
					display: inline-block;
					margin-right: 10px;
					margin-top: 3px;
				}
			}
			.tel-box-text2 {
				font-size: 1.4rem;
				text-align: right;
			}
		}
		.header-contact {
			background-color: #102757;
			text-align: center;
			width: 160px;
			height: 107px;
			padding-top: 28px;
			text-align: center;
			&:hover {
				opacity: .6;
			}
			i {
				background-image: url(../img/common/header-contact-icon.png);
				background-size: cover;
				width: 20px;
				height: 16px;
				display: inline-block;
				margin-bottom: 10px;
			}
			p {
				width: 100%;
				text-align: center;
				font-size: 1.6rem;
				color: #fff;
			}
		}
	}
	.header-list-area{
		background: rgb(237,237,237);
		background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 100%);
		.header-list {
			margin-left: auto;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				margin-right: 85px;
				height: 70px;
				display: inline-flex;
				align-items: center;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-size: 1.6rem;
					&:hover {
						opacity: .6;
					}
				}
				&.blank {
					margin-right: 85px;
					a {
						position: relative;
						&::after {
							content: "";
							background-image: url(../img/common/header-list-icon.png);
							background-size: cover;
							width: 35px;
							height: 22px;
							display: block;
							position: absolute;
							right: -41px;
							top: -2px;
						}
					}
				}
				&.active {
					position: relative;
					&:after {
						content: "";
						background-color: #102757;
						width: 100%;
						height: 4px;
						display: block;
						position: absolute;
						bottom: 0;
					}
				}
			}
			.header-mail {
				width: 70px;
				height: 70px;
				background-image: url(../img/common/header-mail.png);
				background-size: 70px;
				background-repeat: no-repeat;
				a {
					display: inline-block;
					width: 70px;
					height: 70px;
				}
				&:hover {
					opacity: .6;
				}
			}
		}
	}


	&.UpMove {
		background-color: #fff;
		.header-logo {
			background-image: url(../img/common/header-logo-up.png);
		}
		.header-mail {
			background-image: url(../img/common/header-mail-up.png);
		}
		.header-list {
			li{
				a {
					color: #333;
				}
				&.icon {
					a {
						&::after {
							content: "";
							background-image: url(../img/common/header-list-icon-up.png);
							background-size: 18px 12px;
							width: 18px;
							height: 12px;
							display: inline-block;
							margin-left: 8px;
						}
					}
				}
			}
		}
	}
	&.contact {
		background-color: #fff;
		.header-logo {
			background-image: url(../img/common/header-logo-up.png);
		}
		.header-mail {
			background-image: url(../img/common/header-mail-up.png);
		}
		.header-list {
			li{
				a {
					color: #333;
				}
				&.icon {
					a {
						&::after {
							content: "";
							background-image: url(../img/common/header-list-icon-up.png);
							background-size: 18px 12px;
							width: 18px;
							height: 12px;
							display: inline-block;
							margin-left: 8px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.header {
		.header-logo-area {
			padding-left: 2vw;
			.header-logo {
				width: 260px;
			}
			.header-logo-funeral {
				width: 200px;
				margin-left: 20px;
				a {
					display: inline-block;
					img {
						width: 100%;
					}
				}
				&:hover {
					opacity: .6;
				}
			}
			.tel-box {
				text-align: right;
				margin-left: auto;
				margin-right: 20px;
				.tel-box-text1 {
					font-size: 1.2rem;
					margin-bottom: 2px;
					text-align: right;
				}
				.tel-box-link {
					font-size: 3.4rem;
					font-weight: bold;
					margin-bottom: 6px;
					position: relative;
					display: flex;
					align-items: center;
					&::before {
						content: "";
						background-image: url(../img/common/header-tel.png);
						background-size: cover;
						width: 43px;
						height: 25px;
						display: inline-block;
						margin-right: 10px;
						margin-top: 3px;
					}
				}
				.tel-box-text2 {
					font-size: 1.3rem;
					text-align: right;
				}
			}
			.header-contact {
				background-color: #102757;
				text-align: center;
				width: 100px;
				height: 107px;
				padding-top: 28px;
				text-align: center;
				i {
					background-image: url(../img/common/header-contact-icon.png);
					background-size: cover;
					width: 20px;
					height: 16px;
					display: inline-block;
					margin-bottom: 10px;
				}
				p {
					width: 100%;
					text-align: center;
					font-size: 1.2rem;
					color: #fff;
				}
			}
		}
		.header-list-area{
			.header-list {
				li{
					margin-right: 45px;
					height: 70px;
					display: inline-flex;
					align-items: center;
					&:last-child {
						margin-right: 0;
					}
					a {
						font-size: 1.4rem;
						&:hover {
							opacity: .6;
						}
					}
					&.blank {
						margin-right: 5vw;
						a {
							position: relative;
							&::after {
								content: "";
								background-image: url(../img/common/header-list-icon.png);
								background-size: cover;
								width: 35px;
								height: 22px;
								display: block;
								position: absolute;
								right: -41px;
								top: -2px;
							}
						}
					}
					&.active {
						position: relative;
						&:after {
							content: "";
							background-color: #102757;
							width: 100%;
							height: 4px;
							display: block;
							position: absolute;
							bottom: 0;
						}
					}
				}
				.header-mail {
					width: 70px;
					height: 70px;
					background-image: url(../img/common/header-mail.png);
					background-size: 70px;
					background-repeat: no-repeat;
					a {
						display: inline-block;
						width: 70px;
						height: 70px;
					}
					&:hover {
						opacity: .6;
					}
				}
			}
		}
	}
}

@media (max-width: 1000px) {

	.header {
		background:#fff;
		padding:0 0 0 5%;
		display: flex;
		height: auto;
		position:fixed;
		top: 0;
		z-index: 100;
		width: 100%;
		height: 70px;
		border: 0;
		box-shadow: 0px 5px 10px 0 rgba(237, 237, 237, 1);
		.header-logo-area {
			display: flex;
			align-items: center;
			padding-left: 0;
			.header-logo {
				// width: 260px;
				width: 130px;
				height: auto;
			}
			.header-logo-funeral {
				width: 130px;
				margin-left: 15px;
			}
			.tel-box {
				display: none;
			}
			.header-contact {
				display: none;
			}
		}
		.header-list-area{
			.header-list {
				display: none;
			}
		}
	}

	.sp-navi-inner {
		.sp-navi-list {
			padding: 0;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			max-width: 1110px;
			width: 100%;
			margin: 0 auto;
			border-top: 1px solid #fff;
			.sp-navi-list-dl {
				dt {
					color: #fff;
					display: block;
					padding:25px 16px 25px 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					&::after {
						content: "";
						background-image: url(../img/common/sp-navi-list-dl-arrow.png);
						background-size: cover;
						width: 19px;
						height: 11px;
						position: absolute;
						right: 20px;
						top: 40%;
						display: block;
					}
				}
				.drop__txt {
					display: none;
					background-color: #F8F4EC;
					a {
						display: flex;
						justify-content: space-between;
						font-size: 1.6rem;
						font-weight: 400;
						color: #102757;
						padding: 20px 55px 20px 15px;
						border-bottom: 1px solid #102757;
					}

				}
			}
		}
	}
}

@media (max-width: 375px) {

	.header {
		.header-logo-area {
			.header-logo {
				width: 120px;
			}
			.header-logo-funeral {
				width: 120px;
				margin-left: 10px;
			}
		}
	}
}

/*==================================================================================
　SPハンバーガーメニュー
==================================================================================*/

.sp-navi {
	display: none;
}

@media (max-width: 1000px) {
	.sp-menu {
	    width: 70px;
	    height: 70px;
	    position: absolute;
	    right: 0;
	    top:0;
	    bottom:0;
	    margin: auto;
	    z-index: 101;
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #102757;
		.sp-menu-inner {
			width: 22px;
			height: 22px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;
			border-radius: 5px;
			transform-origin: center center;
			transition: all 0.2s;
			&:nth-child(1) {
				width: 100%;
			}
			&:nth-child(2) {
				width: 100%;
			}
			&:nth-child(3) {
				width: 100%;
			}
		}
	}

	.sp-menu.open{
		span {
			transform-origin: center center;
			background-color: #fff;
			&:nth-child(1) {
				transform: translateY(9px) rotate(45deg);
				width: 100%;
			}
			&:nth-child(2) {
				transform: translateX(-200%);
				width: 100%;
			}
			&:nth-child(3) {
				transform: translateY(-11px) rotate(-45deg);
				width: 100%;
			}
		}
	}

	.sp-navi {
	    display: none;
	    position: fixed;
	    height: calc(100%);
	    left: 0;
	    top: 70px;
	    z-index: 20;
	    background-color: #fff;
	    overflow-y: auto;
	    width: 100%;
		padding: 55px 5% 0;
	    background: #102757;
		.sp-navi-item{
			width: 100%;
			text-align: left;
			font-size: 1.6rem;
			font-weight: bold;
			border-bottom: 1px solid #fff;
			> a{
				color: #fff;
				display: block;
				padding:25px 16px 25px 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&::after {
					content: "";
					background-image: url(../img/common/sp-navi-item-icon.png);
					background-size: 22px 8px;
					width: 22px;
					height: 8px;
					display: inline-block;
				}
			}
			&.open {
				dt {
					&::after {
						content: "";
						background-image: url(../img/common/sp-navi-list-dl-arrow-on.png);
						background-size: cover;
						width: 19px;
						height: 11px;
						display: block;
					}
				}
			}
			&.blank {
				position: relative;
				&::after {
					content: "";
					background-image: url(../img/common/sp-navi-item-pet-icon.png);
					background-size: cover;
					width: 32px;
					height: 21px;
					display: block;
					position: absolute;
					right: 20px;
					top: 40%;
				}
			}
		}
	}

}


/*==================================================================================
　fotter
==================================================================================*/

.footer {
	position: relative;
	background-color: #f8f4ec;
	background-repeat: no-repeat;
	padding: 0 5%;
	.footer-inner {
		position: relative;
		max-width: 1090px;
		margin: auto;
		padding: 35px 0;
	}
	.footer-logo-area {
		display: flex;
		margin-bottom: 30px;
	}
	.footer-logo {
		width: 263px;
		margin-right: 30px;
	}
	.footer-logo-funeral {
		width: 223px;
	}
	.footer-link {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		li {
			font-size: 1.4rem;
			a {
				display: inline-block;
				&:hover {
					opacity: .6;
				}
			}
			&.blank {
				margin-right: 40px;
				a {
					position: relative;
					&::after {
						content: "";
						background-image: url(../img/common/header-list-icon.png);
						background-size: cover;
						width: 35px;
						height: 22px;
						display: block;
						position: absolute;
						right: -41px;
						top: -2px;
					}
				}
			}
		}
	}
	.footer-copyright {
		display: flex;
		justify-content: space-between;
		.privacy {
			font-size: 1.4rem;
			padding: 0 10px;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
		}
		.copyright {
			font-size: 1.4rem;
		}
	}
	.sp-tel {
		display: none;
	}
}


@media (max-width: 768px) {
	.footer {
		position: relative;
		background-color: #f8f4ec;
		background-repeat: no-repeat;
		padding: 0 5%;
		margin-bottom: 100px;
		.footer-inner {
			position: relative;
			max-width: 100%;
			margin: auto;
			padding: 30px 0;
			text-align: center;
			display: block;
		}
		.footer-logo-area {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
		.footer-logo {
			width: 176px;
		}
		.footer-logo-funeral {
			width: 143px;
		}

		.footer-link {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin:0 auto 30px;
			text-align: left;
			max-width: 290px;
			li {
				font-size: 1.5rem;
				margin-right: 0;
				width: auto;
				margin-bottom: 40px;
				a {
					&:hover {
						opacity: .6;
					}
				}
				&:nth-child(odd) {
					width: 52%;
				}
				&:nth-child(even) {
					width: 42%;
				}
				&.blank {
					margin-right: 0;
				}
			}
		}
		.footer-copyright {
			display: flex;
			justify-content: space-between;
			.privacy {
				font-size: 1.2rem;
				padding: 0 10px;
				border-left: 1px solid #000;
				border-right: 1px solid #000;
			}
			.copyright {
				font-size: 1.2rem;
			}
		}
		.sp-tel {
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			background-color: #102757;
			width: 100%;
			text-align: right;
			padding: 10px 0;
			.sp-tel-inner {
				max-width: 308px;
				margin: auto;
				color: #fff;

			}
			.tel-box-text1 {
				font-size: 1.2rem;
				margin-bottom: 2px;
				text-align: right;
			}
			.tel-box-link {
				font-size:4.2rem;
				font-weight: bold;
				margin-bottom: 10px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				color: #fff;
				&::before {
					content: "";
					background-image: url(../img/common/tel-box-link-icon.png);
					background-size: cover;
					width: 44px;
					height: 25px;
					display: inline-block;
					margin-right: 10px;
					margin-top: 3px;
				}
			}
			.tel-box-text2 {
				font-size: 1.4rem;
				text-align: right;
			}
		}
	}
}


/*==================================================================================
　contents
==================================================================================*/

.contents {
	overflow: hidden;
	padding-top: 177px;
}

@media (max-width: 1000px) {
	.contents {
		padding-top:70px;
	}
}

/*==================================================================================
　btn
==================================================================================*/

.common-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 24px;
	background-color: #fff;
	border: 1px solid #102757;
	color: #102757;
	font-size: 1.6rem;
	padding: 0 24px;
	position: relative;
	&.arrow {
		width: 196px;
		height: 48px;
		&::after {
			content: "";
			background-image: url(../img/common/common-btn-arrow.png);
			background-size: cover;
			display: block;
			width: 18px;
			height: 14px;
		}
		&:hover {
			background-color: #102757;
			color: #fff;
			&::after {
				content: "";
				background-image: url(../img/common/common-btn-arrow-on.png);
				background-size: cover;
				display: block;
				width: 18px;
				height: 14px;
			}
		}
	}
	&.blunk {
		width: 327px;
		height: 48px;
		margin-top: 40px;
		&::after {
			content: "";
			background-image: url(../img/common/header-list-icon.png);
			background-size: cover;
			display: block;
			width: 35px;
			height: 21px;
		}
		&:hover {
			background-color: #102757;
			color: #fff;
			&::after {
				content: "";
				background-image: url(../img/common/header-list-icon.png);
				background-size: cover;
				display: block;
				width: 35px;
				height: 21px;
			}
		}
	}
}

.btn-trial {
	text-align: center;
	width: 730px;
	margin: 0 auto 50px;
	.btn-trial-inner {
		border-radius: 61px;
		padding: 22px 0;
		text-align: center;
		position: relative;
		background-color: #F7443F;
		width: 730px;
		height: 120px;
		box-shadow: 10px 10px 20px #0000001a;
		border: 3px solid #F7443F;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-white-pc.png);
			background-repeat: no-repeat;
			background-size: 41px 16px;
			width: 41px;
			height: 16px;
			display: inline-block;
			position: absolute;
			right: 38px;
			top: 45%;
		}
		&:hover {
			cursor: pointer;
			background-color: #fff;
			border: 3px solid #F7443F;
			&:after {
				background-image: url(../img/common/common-icon-white-pc-hover.png);
			}
			.text1{
				color:#F7443F;
			}
			.text2{
				color:#F7443F;
			}
		}
		.text1{
			font-size: 2.4rem;
			font-weight: bold;
			color: #fff;
			margin-bottom: 12px;
		}
		.text2{
			font-size: 3.2rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.btn-contact {
	text-align: center;
	width: 730px;
	margin: auto;
	.btn-contact-inner {
		display: block;
		border-radius: 61px;
		padding: 38px 0;
		text-align: center;
		position: relative;
		background-color: #63C151;
		width: 730px;
		height: 120px;
		box-shadow: 10px 10px 20px #0000001a;
		border: 3px solid #63C151;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-white-pc.png);
			background-repeat: no-repeat;
			background-size: 41px 16px;
			width: 41px;
			height: 16px;
			display: inline-block;
			position: absolute;
			right: 38px;
			top: 45%;
		}
		&:hover {
			cursor: pointer;
			background-color: #fff;
			border: 3px solid #63C151;
			&:after {
				background-image: url(../img/common/common-icon-white-pc-hover2.png);
			}
			.text1{
				color:#63C151;
			}
		}
		.text1{
			font-size: 3.2rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.btn-contact-2 {
	text-align: center;
	width: 730px;
	margin: auto;
	.btn-contact-2-inner {
		display: block;
		border-radius: 61px;
		padding: 38px 0;
		text-align: center;
		position: relative;
		background-color: #fff;
		width: 730px;
		height: 120px;
		box-shadow: 10px 10px 20px #0000001a;
		border: 3px solid #63C151;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-white-pc-hover2.png);
			background-repeat: no-repeat;
			background-size: 41px 16px;
			width: 41px;
			height: 16px;
			display: inline-block;
			position: absolute;
			right: 38px;
			top: 45%;
		}
		&:hover {
			cursor: pointer;
			background-color: #63C151;
			border: 3px solid #fff;
			&:after {
				background-image: url(../img/common/common-icon-white-pc.png);
			}
			.text1{
				color:#fff;
			}
		}
		.text1{
			font-size: 3.2rem;
			font-weight: bold;
			color: #63C151;
		}
	}
}

.btn-fix {
	text-align: center;
	width: 347px;
	margin: auto;
	.btn-fix-inner {
		display: block;
		border-radius: 61px;
		padding: 23px 0;
		text-align: center;
		position: relative;
		background-color: #BABABA;
		width: 347px;
		height: 73px;
		box-shadow: 10px 10px 20px #0000001a;
		border: 3px solid #BABABA;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-back.png);
			background-repeat: no-repeat;
			background-size: 23px 10px;
			width: 23px;
			height: 10px;
			display: inline-block;
			position: absolute;
			left: 23px;
			top: 40%;
		}
		&:hover {
			cursor: pointer;
			background-color: #fff;
			border: 3px solid #BABABA;
			&:after {
				background-image: url(../img/common/common-icon-back-hover.png);
			}
			.text1{
				color:#BABABA;
			}
		}
		.text1{
			font-size: 2rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.btn-send {
	text-align: center;
	width: 347px;
	margin: auto;
	.btn-send-inner {
		display: block;
		border-radius: 61px;
		padding: 23px 0;
		text-align: center;
		position: relative;
		background-color: #F7443F;
		width: 347px;
		height: 73px;
		box-shadow: 10px 10px 20px #0000001a;
		border: 3px solid #F7443F;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-white-pc.png);
			background-repeat: no-repeat;
			background-size: 23px 10px;
			width: 23px;
			height: 10px;
			display: inline-block;
			position: absolute;
			right: 23px;
			top:40%;
		}
		&:hover {
			cursor: pointer;
			background-color: #fff;
			border: 3px solid #F7443F;
			&:after {
				background-image: url(../img/common/common-icon-red.png);
			}
			.text1{
				color:#F7443F;
			}
		}
		.text1{
			font-size: 2rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.btn-thanks {
	text-align: center;
	width: 347px;
	margin: 0 auto 198px;
	.btn-thanks-inner {
		display: block;
		border-radius: 61px;
		padding: 23px 0;
		text-align: center;
		position: relative;
		background-color: #F7443F;
		width: 347px;
		height: 73px;
		box-shadow: 10px 10px 20px #0000001a;
		border: 3px solid #F7443F;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-back.png);
			background-repeat: no-repeat;
			background-size: 23px 10px;
			width: 23px;
			height: 10px;
			display: inline-block;
			position: absolute;
			left: 23px;
			top:40%;
		}
		&:hover {
			cursor: pointer;
			background-color: #fff;
			border: 3px solid #F7443F;
			&:after {
				background-image: url(../img/common/common-icon-red-back.png);
			}
			.text1{
				color:#F7443F;
			}
		}
		.text1{
			font-size: 2rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.btn-wrap {
	display: flex;
	width: 730px;
	margin: 105px auto 180px;
}

.popup-btn {
	a {
		display: block;
		background-color: #63C151;
		color: #fff;
		font-size: 1.6rem;
		font-weight: bold;
		border-radius: 61px;
		padding: 22px 0;
		text-align: center;
		position: relative;
		&:after {
			content: "";
			background-image: url(../img/common/common-icon-white.png);
			background-repeat: no-repeat;
			background-size: 18px 7px;
			width: 18px;
			height: 7px;
			display: inline-block;
			position: absolute;
			right: 38px;
			top: 45%;
		}
	}
}



@media (max-width: 1000px) {

	.common-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 24px;
		background-color: #fff;
		border: 1px solid #102757;
		color: #102757;
		font-size: 1.6rem;
		padding: 0 24px;
		position: relative;
		&.arrow {
			width: 100%;
			height: 48px;
			&::after {
				content: "";
				background-image: url(../img/common/common-btn-arrow.png);
				background-size: cover;
				display: block;
				width: 18px;
				height: 14px;
			}
			&:hover {
				background-color: #102757;
				color: #fff;
				&::after {
					content: "";
					background-image: url(../img/common/common-btn-arrow-on.png);
					background-size: cover;
					display: block;
					width: 18px;
					height: 14px;
				}
			}
		}
		&.blunk {
			width: 100%;
			height: 48px;
			margin-top: 20px;
			&::after {
				content: "";
				background-image: url(../img/common/header-list-icon.png);
				background-size: cover;
				display: block;
				width: 35px;
				height: 22px;
			}
			&:hover {
				background-color: #102757;
				color: #fff;
				&::after {
					content: "";
					background-image: url(../img/common/header-list-icon.png);
					background-size: cover;
					display: block;
					width: 35px;
					height: 21px;
				}
			}
		}
	}

	.btn-trial {
		text-align: center;
		width: 100%;
		margin: 0 auto 25px;
		.btn-trial-inner {
			border-radius: 61px;
			padding: 12px 0;
			text-align: center;
			position: relative;
			background-color: #F7443F;
			width: 100%;
			height: 70px;
			box-shadow: 10px 10px 20px #0000001a;
			border: 3px solid #F7443F;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-white.png);
				background-repeat: no-repeat;
				background-size: 21px 8px;
				width: 21px;
				height: 8px;
				display: inline-block;
				position: absolute;
				right: 38px;
				top: 45%;
			}
			.text1{
				font-size: 1.4rem;
				font-weight: bold;
				color: #fff;
				margin-bottom: 7px;
			}
			.text2{
				font-size: 2rem;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	
	.btn-contact {
		text-align: center;
		width: 100%;
		margin: auto;
		.btn-contact-inner {
			display: block;
			border-radius: 61px;
			padding: 20px 0;
			text-align: center;
			position: relative;
			background-color: #63C151;
			width: 100%;
			height: 70px;
			box-shadow: 10px 10px 20px #0000001a;
			border: 3px solid #63C151;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-white.png);
				background-repeat: no-repeat;
				background-size: 21px 8px;
				width: 21px;
				height: 8px;
				display: inline-block;
				position: absolute;
				right: 38px;
				top: 45%;
			}
			.text1{
				font-size: 2rem;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	
	.btn-contact-2 {
		text-align: center;
		width: 100%;
		margin: auto;
		.btn-contact-2-inner {
			display: block;
			border-radius: 61px;
			padding: 20px 0;
			text-align: center;
			position: relative;
			background-color: #fff;
			width: 100%;
			height: 70px;
			box-shadow: 10px 10px 20px #0000001a;
			border: 3px solid #63C151;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-white.png);
				background-repeat: no-repeat;
				background-size: 21px 8px;
				width: 21px;
				height: 8px;
				display: inline-block;
				position: absolute;
				right: 38px;
				top: 45%;
			}
			.text1{
				font-size: 2rem;
				font-weight: bold;
				color: #63C151;
			}
		}
	}
	

	.btn-fix {
		text-align: center;
		width: 100%;
		margin:0 auto 25px;
		.btn-fix-inner {
			display: block;
			border-radius: 61px;
			padding: 15px 0;
			text-align: center;
			position: relative;
			background-color: #BABABA;
			width: 100%;
			height: 60px;
			box-shadow: 10px 10px 20px #0000001a;
			border: 3px solid #BABABA;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-back.png);
				background-repeat: no-repeat;
				background-size: 23px 10px;
				width: 23px;
				height: 10px;
				display: inline-block;
				position: absolute;
				left: 23px;
				top: 40%;
			}
			&:hover {
				cursor: pointer;
				background-color: #fff;
				border: 3px solid #BABABA;
				&:after {
					background-image: url(../img/common/common-icon-back-hover.png);
				}
				.text1{
					color:#BABABA;
				}
			}
			.text1{
				font-size: 2rem;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	
	.btn-send {
		text-align: center;
		width: 100%;
		margin: auto;
		.btn-send-inner {
			display: block;
			border-radius: 61px;
			padding: 15px 0;
			text-align: center;
			position: relative;
			background-color: #F7443F;
			width: 100%;
			height: 60px;
			box-shadow: 10px 10px 20px #0000001a;
			border: 3px solid #F7443F;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-white-pc.png);
				background-repeat: no-repeat;
				background-size: 23px 10px;
				width: 23px;
				height: 10px;
				display: inline-block;
				position: absolute;
				right: 23px;
				top:40%;
			}
			&:hover {
				cursor: pointer;
				background-color: #fff;
				border: 3px solid #F7443F;
				&:after {
					background-image: url(../img/common/common-icon-red.png);
				}
				.text1{
					color:#F7443F;
				}
			}
			.text1{
				font-size: 2rem;
				font-weight: bold;
				color: #fff;
			}
		}
	}

	.btn-thanks {
		text-align: center;
		width: 100%;
		margin: 0 auto 0;
		padding-bottom: 60px;
		.btn-thanks-inner {
			display: block;
			border-radius: 61px;
			padding: 15px 0;
			text-align: center;
			position: relative;
			background-color: #F7443F;
			width: 100%;
			height: 60px;
			box-shadow: 10px 10px 20px #0000001a;
			border: 3px solid #F7443F;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-back.png);
				background-repeat: no-repeat;
				background-size: 23px 10px;
				width: 23px;
				height: 10px;
				display: inline-block;
				position: absolute;
				left: 23px;
				top:40%;
			}
			&:hover {
				cursor: pointer;
				background-color: #fff;
				border: 3px solid #F7443F;
				&:after {
					background-image: url(../img/common/common-icon-red-back.png);
				}
				.text1{
					color:#F7443F;
				}
			}
			.text1{
				font-size: 2rem;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	
	.btn-wrap {
		display: block;
		width: 100%;
		margin: 55px auto 0;
		padding-bottom: 80px;
	}

	.popup-btn {
		a {
			display: block;
			background-color: #63C151;
			color: #fff;
			font-size: 1.6rem;
			font-weight: bold;
			border-radius: 61px;
			padding: 22px 0;
			text-align: center;
			position: relative;
			box-shadow: 10px 10px 20px #0000001a;
			&:after {
				content: "";
				background-image: url(../img/common/common-icon-white.png);
				background-repeat: no-repeat;
				background-size: 18px 7px;
				width: 18px;
				height: 7px;
				display: inline-block;
				position: absolute;
				right: 38px;
				top: 45%;
			}
		}
	}

}

/*==================================================================================
　下層ページ　common-title
==================================================================================*/

.common-title {
	text-align: center;
	padding:100px 0 55px;
	color: #fff;
	background-size: cover;
	background-position: center;
	.common-title-h2 {
		font-family: "Roboto";
		font-size: 6rem;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.common-title-h2-caption {
		font-size: 2rem;
		font-weight: bold;
		font-weight: 600;
	}
}

@media (max-width: 1000px) {
	.common-title {
		padding:20px 0 10px;
		.common-title-h2 {
			font-size: 4rem;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.common-title-h2-caption {
			font-size: 1.8rem;
			font-weight: 600;
		}
	}
}

/*==================================================================================
　下層ページ　各タイトル画像
==================================================================================*/

.contact__main {
	background-image: url(../img/contact/contact-title.png);
}

@media (max-width: 1000px) {
	.contact__main {
		background-image: url(../img/contact/contact-title-sp.png);
	}
}

/*==================================================================================
　パンくず
==================================================================================*/

.breadcrumb {
	padding:17px 0 40px;
	font-size: 1.4rem;
	border-top: 1px solid #A2A2A2;
	ul {
		max-width: 1088px;
		margin: auto;
		display: flex;
		align-items: center;
		li {
			a {
				position: relative;
				&::after {
					content: ">";
					font-size: 1.4rem;
					display: inline-block;
					margin: 0 6px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.breadcrumb {
		padding:20px 5% 35px;
		font-size: 1.4rem;
		border-top: 1px solid #A2A2A2;
		ul {
			max-width: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			li {
				a {
					position: relative;
					&::after {
						content: ">";
						font-size: 1.4rem;
						display: inline-block;
						margin: 0 6px;
					}
				}
			}
		}
	}
}

/*==================================================================================
　ページTOPへ戻る
==================================================================================*/

.pageTop {
	position: absolute;
	top: 0;
	right: 0;
	a {
		display: inline-block;
		img {
			width: 100px;
		}
	}
}

@media (max-width: 1000px) {
	.pageTop {
		a {
			img {
				width: 50px;
			}
		}
	}
}