@charset "UTF-8";
/*==================================================================================
　メインビジュアル
==================================================================================*/
@media (min-width: 751px) {
  .mv {
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide {
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide .slide-01 {
    background: url(../img/index/slider-01.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide .slide-02 {
    background: url(../img/index/slider-02.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide .slide-03 {
    background: url(../img/index/slider-03.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide .slide-04 {
    background: url(../img/index/slider-04.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide .slide-05 {
    background: url(../img/index/slider-05.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

@media (max-width: 750px) {
  .mv {
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide {
    height: 100vh;
  }
  .mv .mv-inner .swiper-slide .slide-01 {
    background: url(../img/index/slider-01sp.png) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .mv .mv-inner .swiper-slide .slide-01 img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
  }
  .mv .mv-inner .swiper-slide .slide-02 {
    background: url(../img/index/slider-02sp.png) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .mv .mv-inner .swiper-slide .slide-02 img {
    position: absolute;
    top: 60%;
    right: 0;
    width: 90vw;
  }
  .mv .mv-inner .swiper-slide .slide-03 {
    background: url(../img/index/slider-03sp.png) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .mv .mv-inner .swiper-slide .slide-03 img {
    position: absolute;
    top: 60%;
    right: 0;
    width: 90vw;
  }
  .mv .mv-inner .swiper-slide .slide-04 {
    background: url(../img/index/slider-04sp.png) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .mv .mv-inner .swiper-slide .slide-04 img {
    position: absolute;
    top: 20%;
    right: 0;
    width: 90vw;
  }
  .mv .mv-inner .swiper-slide .slide-05 {
    background: url(../img/index/slider-05sp.png) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .mv .mv-inner .swiper-slide .slide-05 img {
    position: absolute;
    top: 20%;
    right: 0;
    width: 90vw;
  }
}

/*==================================================================================
　index-lead
==================================================================================*/
.index-lead {
  background-image: url(../img/index/index-bg-left.png), url(../img/index/index-bg-right.png);
  background-size: 15%, 20%;
  background-position: top left, bottom right 5%;
  background-repeat: no-repeat;
  padding: 10vw 0 10vw;
}

.index-lead .index-lead-inner {
  max-width: 1046px;
  margin: auto;
}

.index-lead .index-lead-inner .index-lead-h3 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  font-weight: bold;
  margin-bottom: 70px;
}

.index-lead .index-lead-inner .index-lead-text {
  font-size: 1.6rem;
  line-height: 4rem;
  margin-bottom: 80px;
}

@media (max-width: 750px) {
  .index-lead {
    background-image: url(../img/index/index-bg-left.png), url(../img/index/index-bg-right-sp1.png), url(../img/index/index-bg-right-sp2.png);
    background-size: 18%, 35% ,40%;
    background-position: top left -10%, top 15% right, bottom right;
    background-repeat: no-repeat;
    padding: 15vw 0 15vw;
  }
  .index-lead .index-lead-inner {
    max-width: 100%;
    margin: auto;
    padding: 0 5%;
  }
  .index-lead .index-lead-inner .index-lead-h3 {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: bold;
    margin-bottom: 7vw;
  }
  .index-lead .index-lead-inner .index-lead-text {
    font-size: 1.6rem;
    line-height: 4rem;
    margin-bottom: 80px;
  }
}

/*==================================================================================
　melit
==================================================================================*/
.melit {
  background: url(../img/index/melit-bg.png) no-repeat;
  background-size: cover;
  padding: 20vh 5% 40vh;
}

.melit .melit-h3 {
  font-family: "Montserrat";
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 35px;
  text-align: center;
}

@media (max-width: 750px) {
  .melit {
    background: url(../img/index/melit-bg-sp.png) no-repeat;
    background-size: cover;
    padding: 10vh 5% 10vh;
  }
  .melit .melit-h3 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 3vh;
    text-align: center;
  }
}

/*==================================================================================
　service
==================================================================================*/
.index-service {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, white), color-stop(50%, rgba(250, 250, 250, 0)), to(rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(left, white 0%, white 50%, rgba(250, 250, 250, 0) 50%, rgba(250, 250, 250, 0) 100%);
  background: linear-gradient(90deg, white 0%, white 50%, rgba(250, 250, 250, 0) 50%, rgba(250, 250, 250, 0) 100%);
}

.index-service .index-service-inner {
  padding-top: 143px;
  padding-bottom: 110px;
  margin: -108px auto 0;
  max-width: 1046px;
  background: #fff;
}

.index-service .index-service-inner .index-service-lead {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 65px;
  margin-bottom: 130px;
}

.index-service .index-service-inner .index-service-text {
  font-size: 1.6rem;
  line-height: 4rem;
  margin-top: 88px;
}

@media (max-width: 750px) {
  .index-service {
    background: none;
  }
  .index-service .index-service-inner {
    padding: 5vh 5%;
    margin: 0 auto 0;
    max-width: 100%;
    background: #fff;
  }
  .index-service .index-service-inner .index-service-lead {
    font-size: 2rem;
    line-height: 2.7rem;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  .index-service .index-service-inner .index-service-text {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-top: 0;
  }
}

/*==================================================================================
　recruit
==================================================================================*/
.index-recruit {
  background: #fafafa;
  padding-top: 190px;
}

.index-recruit .index-recruit-inner {
  padding-top: 35px;
  padding-bottom: 110px;
  margin: auto;
  max-width: 1046px;
}

.index-recruit .index-recruit-inner .index-recruit-img {
  margin-top: 60px;
}

@media (max-width: 750px) {
  .index-recruit {
    background: #fafafa;
    padding-top: 5vh;
  }
  .index-recruit .index-recruit-inner {
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    max-width: 100%;
  }
  .index-recruit .index-recruit-inner .index-recruit-img {
    margin-top: 6vh;
  }
  .index-recruit .index-recruit-inner .index-common-h3 {
    margin: 0 5%;
  }
}

/*==================================================================================
　company
==================================================================================*/
.index-company {
  background: #fafafa;
  padding-top: 175px;
}

.index-company .index-company-inner {
  padding-top: 35px;
  padding-bottom: 110px;
  margin: auto;
  max-width: 1046px;
}

.index-company .index-company-inner .index-common-h3 h3 {
  margin-top: -15px;
}

.index-company .index-company-inner .index-company-img {
  margin-top: 60px;
}

@media (max-width: 750px) {
  .index-company {
    background: #fafafa;
    padding-top: 8vh;
  }
  .index-company .index-company-inner {
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    max-width: 100%;
  }
  .index-company .index-company-inner .index-common-h3 h3 {
    margin-top: 0;
  }
  .index-company .index-company-inner .index-company-img {
    margin-top: 6vh;
  }
  .index-company .index-company-inner .index-common-h3 {
    margin: 0 5%;
  }
}

/*==================================================================================
　NEWS
==================================================================================*/
.index-news {
  background: #000;
  padding-top: 120px;
  color: #fff;
}

.index-news .index-news-inner {
  padding-top: 35px;
  padding-bottom: 110px;
  margin: auto;
  max-width: 1046px;
}

.index-news .index-news-inner .index-news-h3 {
  font-size: 5rem;
}

.index-news .index-news-inner .index-news-btn {
  background: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 20px 17px;
  text-align: center;
  display: block;
  width: 290px;
  margin: 0;
  border: 1px solid #fff;
}

.index-news .index-news-inner .index-news-btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.index-news .index-news-inner .index-news-btn.allow {
  position: relative;
}

.index-news .index-news-inner .index-news-btn.allow:hover {
  opacity: .8;
}

.index-news .index-news-inner .index-news-btn.allow:after {
  content: '>';
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
}

.index-news .index-news-inner .index-news-list {
  margin-top: 55px;
  margin-bottom: 65px;
}

.index-news .index-news-inner .index-news-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.index-news .index-news-inner .index-news-list li:last-child {
  margin-bottom: 0;
}

.index-news .index-news-inner .index-news-list li span {
  margin-right: 3%;
}

.index-news .index-news-inner .index-news-list li p {
  line-height: 21px;
}

@media (max-width: 750px) {
  .index-news {
    background: #000;
    padding-top: 7vh;
    padding-bottom: 11vh;
    color: #fff;
  }
  .index-news .index-news-inner {
    padding: 0 5%;
    margin: auto;
    max-width: 100%;
  }
  .index-news .index-news-inner .index-news-h3 {
    font-size: 3rem;
    margin-bottom: 7vh;
  }
  .index-news .index-news-inner .index-news-btn {
    background: #000;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 20px 17px;
    text-align: center;
    display: block;
    width: 80%;
    margin: auto;
    border: 1px solid #fff;
  }
  .index-news .index-news-inner .index-news-btn:hover {
    opacity: .8;
  }
  .index-news .index-news-inner .index-news-btn.allow {
    position: relative;
  }
  .index-news .index-news-inner .index-news-btn.allow:hover {
    opacity: .8;
  }
  .index-news .index-news-inner .index-news-btn.allow:after {
    content: '>';
    position: absolute;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 18px;
  }
  .index-news .index-news-inner .index-news-list {
    margin-top: 0;
    margin-bottom: 8vh;
  }
  .index-news .index-news-inner .index-news-list li {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 5vh;
  }
  .index-news .index-news-inner .index-news-list li:last-child {
    margin-bottom: 0;
  }
  .index-news .index-news-inner .index-news-list li span {
    margin-right: 3%;
  }
  .index-news .index-news-inner .index-news-list li p {
    line-height: 21px;
  }
}

/*==================================================================================
　pc-subsc
==================================================================================*/
.pc-subsc .pc-subsc-list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.pc-subsc .pc-subsc-list li {
  width: 50%;
  height: 345px;
}

.pc-subsc .pc-subsc-list li a {
  display: block;
  width: 100%;
  height: 345px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 99;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-01 {
  position: relative;
  overflow: hidden;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-01:after {
  background: url(../img/index/pc-subsc-bg-01.png);
  background-size: cover;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-01:hover:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-02 {
  position: relative;
  overflow: hidden;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-02:after {
  background: url(../img/index/pc-subsc-bg-02.png);
  background-size: cover;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-02:hover:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-03 {
  position: relative;
  overflow: hidden;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-03:after {
  background: url(../img/index/pc-subsc-bg-03.png);
  background-size: cover;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-03:hover:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-04 {
  position: relative;
  overflow: hidden;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-04:after {
  background: url(../img/index/pc-subsc-bg-04.png);
  background-size: cover;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.pc-subsc .pc-subsc-list li.pc-subsc-list-04:hover:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pc-subsc .pc-subsc-list li img {
  width: 80%;
  margin: auto;
  z-index: 100;
}

.pc-subsc .pc-subsc-list .red,
.pc-subsc .pc-subsc-list .green,
.pc-subsc .pc-subsc-list .blue,
.pc-subsc .pc-subsc-list .yellow {
  height: 345px;
  text-align: center;
  line-height: 345px;
  position: relative;
  font-size: 30px;
}

.pc-subsc .pc-subsc-list .red::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: rgba(221, 0, 0, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.pc-subsc .pc-subsc-list .green::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: rgba(128, 159, 24, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.pc-subsc .pc-subsc-list .blue::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 125, 200, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.pc-subsc .pc-subsc-list .yellow::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(193, 172, 10, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.pc-subsc .pc-subsc-list .fade::before {
  width: 100%;
}

/*==================================================================================
　index-contents
==================================================================================*/
.index-contents {
  background: #fafafa;
}

.index-common-h3 a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 42%;
  color: #000;
}

.index-common-h3 a:after {
  content: '>';
  right: 14px;
  font-size: 32px;
  color: #A7A7A7;
  display: inline-block;
}

.index-common-h3 a:hover {
  opacity: .6;
}

.index-common-h3 a h3 {
  font-size: 5rem;
  font-family: "Montserrat";
  font-weight: bold;
}

.index-common-h3 a small {
  font-size: 1.6rem;
  margin-left: 10%;
  display: inline-block;
  color: #262525;
}

@media (max-width: 750px) {
  .index-contents {
    background: #fafafa;
  }
  .index-common-h3 a {
    position: relative;
    display: block;
    width: 100%;
    color: #000;
  }
  .index-common-h3 a:after {
    display: none;
  }
  .index-common-h3 a h3 {
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: bold;
    margin-bottom: 10px;
  }
  .index-common-h3 a small {
    font-size: 1.6rem;
    margin-left: 5%;
    display: block;
    color: #262525;
    position: relative;
  }
  .index-common-h3 a small:after {
    content: '>';
    font-size: 1.6rem;
    color: #A7A7A7;
    display: inline-block;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=index.css.map */